:root{
    --negro-difuminado: #000000;
    --blanco-difuminado: rgba(255, 255, 255, 0.7);
    --blanco: #FFFFFF;
    --negro: #212121;
    --primario: #FFD700;
    --secundario: #0097A7;
    --gris: #757575;
    --transparente: transparent;
}
html {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', sans-serif;
}
body {
    font-size: 16px; 
    max-width: 100%;
    overflow-x: hidden;
}

/* Imagen Principal */
.imagenPrincipal img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Linea del tiempo*/
.contenedorLinea {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-image: url(../img/fondo4.jpg);
    justify-items: center;
    height: 714px;
}

.contenedorLinea img {
    width: 238px;
    height: 237px;
}

.contenido {
    grid-column: 1/2;
    align-self: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.imagen1 {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagen1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #ADD8E6;
}

.imagen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.5s;
}

.imagen2 {
    grid-column: 2/3;
    align-self: center;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagen2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #9BC8DB;
}

.imagen3 {
    grid-column: 3/4;
    align-self: center;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagen3::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #85B7CE;
}

.imagen4 {
    grid-column: 4/5;
    align-self: center;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagen4::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #6FA6C1;
}

.imagen5 {
    grid-column: 5/6;
    align-self: center;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagen5::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #5995B4;
}

.circular:hover .contenido {
    transform: rotateY(180deg);
}

.circular:hover .imagen {
    transform: rotateY(-180deg);
    opacity: 0;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--negro);
    font-weight: bold;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: var(--blanco-difuminado);
    width: 100%;
    height: 50%;
    padding: 20px; /* Agrega el valor de relleno deseado */
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.3);
}

.circular:hover .texto {
    opacity: 1;
}

/* Carta */
.contenedorCarta {
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
}

.carta {
    background-color: var(--blanco-difuminado);
    width: 50%;
    height: 85%;
    padding: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carta .pakkun1 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.84;
}

.carta p {
    padding-top: 20px;
}

/* Cuerpo */
.medida {
    height: 100vh;
    width: 100%;
}

.contenedorCuerpo {
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    opacity: 0.7;
    background-size: cover;
} 

/* footer */
.footer {
    color: var(--blanco);
    background-image: url(../img/Footer.png);
    width: 100%;
    position: absolute;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}

.footerP {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: end;
}

.icon-tabler {
    grid-column: 3/4;
    grid-row: 1;
    justify-self: start;
    padding-left: 15px;
}

/* Texto emergente 1*/
input[id^="spoiler"]{
    display: none;
}

input[id^="spoiler"] + label {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    background: var(--transparente);
    color: var(--transparente);
    cursor: pointer;
    transition: all .6s;
    grid-column: 10/11;
    grid-row: 2;
    z-index: 1;
}

input[id^="spoiler"]:checked + label {
    background: var(--transparente);
    color: var(--transparente);
}

input[id^="spoiler"] ~ .spoiler {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0; 
    padding: 10px; 
    background-color: var(--blanco-difuminado);
    transition: all .6s;
    grid-column: 7/10;
    grid-row: 2;
    height: 50% !important;
    align-self: center;
}

input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    padding: 10px;
}

/* Texto emergente 2*/
input[id^="spoiler1"]{
    display: none;
}

input[id^="spoiler1"] + label {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    background: var(--transparente);
    color: var(--transparente);
    cursor: pointer;
    transition: all .6s;
    grid-column: 10/11;
    grid-row: 3;
    z-index: 1;
}

input[id^="spoiler1"]:checked + label {
    background: var(--transparente);
    color: var(--transparente);
}

input[id^="spoiler1"] ~ .spoiler1 {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0; 
    padding: 10px; 
    background-color: var(--blanco-difuminado);
    transition: all .6s;
    grid-column: 7/10;
    grid-row: 3;
    height: 50% !important;
    align-self: center;
}

input[id^="spoiler1"]:checked + label + .spoiler1{
    height: auto;
    opacity: 1;
    padding: 10px;
}

/* Texto emergente 3*/
input[id^="spoiler2"]{
    display: none;
}

input[id^="spoiler2"] + label {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    background: var(--transparente);
    color: var(--transparente);
    cursor: pointer;
    transition: all .6s;
    grid-column: 10/11;
    grid-row: 4;
    z-index: 1;
}

input[id^="spoiler2"]:checked + label {
    background: var(--transparente);
    color: var(--transparente);
}

input[id^="spoiler2"] ~ .spoiler2 {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0; 
    padding: 10px; 
    background-color: var(--blanco-difuminado);
    transition: all .6s;
    grid-column: 7/10;
    grid-row: 4;
    height: 50% !important;
    align-self: center;
}

input[id^="spoiler2"]:checked + label + .spoiler2{
    height: auto;
    opacity: 1;
    padding: 10px;
}

/* Texto emergente 4*/

input[id^="spoiler3"]{
    display: none;
}

input[id^="spoiler3"] + label {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    background: var(--transparente);
    color: var(--transparente);
    cursor: pointer;
    transition: all .6s;
    grid-column: 10/11;
    grid-row: 5;
    z-index: 1;
}

input[id^="spoiler3"]:checked + label {
    background: var(--transparente);
    color: var(--transparente);
}

input[id^="spoiler3"] ~ .spoiler3 {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0; 
    padding: 10px; 
    background-color: var(--blanco-difuminado);
    transition: all .6s;
    grid-column: 7/10;
    grid-row: 5;
    height: 50% !important;
    align-self: center;
}

input[id^="spoiler3"]:checked + label + .spoiler3 {
    height: auto;
    opacity: 1;
    padding: 10px;
}

/* Texto emergente 5*/

input[id^="spoiler4"]{
    display: none;
}

input[id^="spoiler4"] + label {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    background: var(--transparente);
    color: var(--transparente);
    cursor: pointer;
    transition: all .6s;
    grid-column: 10/11;
    grid-row: 6;
    z-index: 1;
}

input[id^="spoiler4"]:checked + label {
    background: var(--transparente);
    color: var(--transparente);
}

input[id^="spoiler4"] ~ .spoiler4 {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0; 
    padding: 10px; 
    background-color: var(--blanco-difuminado);
    transition: all .6s;
    grid-column: 7/10;
    grid-row: 6;
    height: 50% !important;
    align-self: center;
}

input[id^="spoiler4"]:checked + label + .spoiler4 {
    height: auto;
    opacity: 1;
    padding: 10px;
}